.container {
  height: 50vh;
  margin-top: 10vh;
}

.formRow {
  align-items: center;
  justify-content: center;
}

.map {
  height: 600px;
  width: 100%;
}

.mainContainer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  width: auto;
}

.card {
  width: auto;
  height: fit-content;
}

.eventCreation {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.enlargingEffect:hover {
  transform: scale(1.2);
}

.divLink {
  cursor: pointer;
}
