.container {
  height: 50vh;
  margin-top: 10vh;
}

.formRow {
  align-items: center;
  justify-content: center;
}

.eventCreation {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.enlargingEffect:hover {
  transform: scale(1.2);
}
